# Python virtual environment
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Large data files
# Exclude all SQLite databases except the main one
*.sqlite
!database.sqlite
*.db
*.csv
*.parquet

# Logs
*.log 